@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  background-color: #0f172a !important;
}

#form-wrapper {
  width: 600px !important;
  border-top: 5px solid white !important;
  border-left: 3px solid white !important;
  position: relative;
}

#login-form {
  width: 500px !important;
  border-top: 5px solid white;
  border-left: 3px solid white;
  position: relative;
  display: flex;
}
#submit-btn {
  align-self: flex-start;
  margin-left: 60px;
}

#output {
  padding-right: 100px !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: gray !important;
  transition: 0.3s all ease-in;
}

.footer {
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 1200px) {
  #form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 20px;
  }

  #form-wrapper {
    width: 600px !important;
    font-size: normal;
    top: 0;
    position: absolute;
  }
}

@media screen and (max-width: 1000px) {
  #form-container {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
  }

  #form-wrapper {
    width: 450px !important;
    font-size: normal;
    position: absolute;
    top: 0;
  }
}

@media screen and (max-width: 800px) {
  #form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
  }

  #form-wrapper {
    width: 600px !important;
    font-size: normal;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  #output {
    margin-top: 650px;
    width: 100%;
    flex-direction: row;
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  #text-heading {
    font-size: 24px;
  }

  input::placeholder {
    font-size: 13px;
  }

  #form-wrapper p {
    font-size: 15x;
  }
  #form-wrapper button {
    padding: 9px 12px !important;
    font-size: 16px !important;
  }

  #form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
  }

  #form-wrapper {
    width: 400px !important;
    font-size: normal;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  #output {
    margin-top: 650px;
    width: 100%;
    flex-direction: row;
    margin-left: 20px;
  }

  #login-form {
    width: 400px !important;
  }
}

@media screen and (max-width: 400px) {
  #form-wrapper {
    width: 85% !important;
    font-size: normal;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  #output {
    margin-top: 650px;
    width: 100%;
    flex-direction: row;
    margin-left: 50px;
  }

  #login-form {
    width: 350px !important;
    justify-content: center;
    align-items: center;
  }

  #login-form h6 {
    margin-left: 20px;
  }
  #submit-btn {
    align-self: flex-start;
    margin-left: 45px;
    margin-top: -10px !important;
  }
}
